# **महिलाओं के खिलाफ हिंसा करना बंद करें**
**Stop violence againts Womens**

This data is collated from https://data.gov.in. It has state-wise and district level data on the various crimes committed against women between 2001 to 2014. 
The crimes included are:
* Rape
* Kidnapping and Abduction
* Dowry Deaths
* Assault on women with intent to outrage her modesty
* Insult to modesty of Women
* Cruelty by Husband or his Relatives
* Importation of Girls

**Import libraries**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go

**Read csv file**

In [9]:
filepath = 'crimes_against_women_2001-2014 (1).csv'
data = pd.read_csv(filepath)
data

,Unnamed: 0,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
0,0,ANDHRA PRADESH,ADILABAD,2001,50,30,16,149,34,175,0
1,1,ANDHRA PRADESH,ANANTAPUR,2001,23,30,7,118,24,154,0
2,2,ANDHRA PRADESH,CHITTOOR,2001,27,34,14,112,83,186,0
3,3,ANDHRA PRADESH,CUDDAPAH,2001,20,20,17,126,38,57,0
4,4,ANDHRA PRADESH,EAST GODAVARI,2001,23,26,12,109,58,247,0
...,...,...,...,...,...,...,...,...,...,...,...
10672,832,Lakshadweep,Lakshadweep,2014,1,0,0,1,2,0,0
10673,833,Lakshadweep,Total District(s),2014,1,0,0,1,2,0,0
10674,834,Puducherry,Karaikal,2014,3,1,0,12,1,1,0
10675,835,Puducherry,Puducherry,2014,7,6,1,20,7,3,0
10676,836,Puducherry,Total District(s),2014,10,7,1,32,8,4,0

**I create a copy of the dataset I will work on**

In [10]:
df = data.copy()

**A little overview on the dataset**

In [11]:
df.head(2)

,Unnamed: 0,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
0,0,ANDHRA PRADESH,ADILABAD,2001,50,30,16,149,34,175,0
1,1,ANDHRA PRADESH,ANANTAPUR,2001,23,30,7,118,24,154,0

A little description of the features:
- **'Unnamed:0'** -> index;
- **State or UT Name** -> name of the State or Union Territories
- **District** -> Name of the district
- **Year** -> year when it happend
- The other columns have a self explanatory name

**Then let's see what types of data we have**

In [5]:
df.info()

**See the shapes of the dataset**

In [6]:
df.shape

**Drop the index column that is useless**

In [7]:
df = df.drop(columns = 'Unnamed: 0')

**Drop the duplicates of the states**

In [8]:
df["STATE/UT"]=df.apply(lambda row:row['STATE/UT'].replace(" ","").lower(),axis=1)
df['STATE/UT'].replace("delhiut",'delhi',inplace=True)

**But excuse the ignorance, which are the States and union territories of India?**

In [9]:
states=df['STATE/UT'].unique()
print("Number of states/territories without duplicates: ", len(states))

print(states)

**Create a new feature that contains a sum of all the crimes of a country**

In [10]:
df['total_crimes']=(df['Rape']+df['Kidnapping and Abduction']+df['Dowry Deaths']+
                       df['Assault on women with intent to outrage her modesty']+
                       df['Insult to modesty of Women']+df['Cruelty by Husband or his Relatives']+
                       df['Importation of Girls'])

**Let's create a dataframe that contains the sum of the crimes of all the states group by years**

In [11]:
#total_crimes
crimes=['Rape','Kidnapping and Abduction','Dowry Deaths',
        'Assault on women with intent to outrage her modesty',
        'Insult to modesty of Women','Cruelty by Husband or his Relatives',
        'Importation of Girls','total_crimes']

df1=pd.DataFrame()
for i in crimes:
    df_crimes=df.groupby(['Year'])[i].sum()
    df1[i]=df_crimes
df1

**And a more simple look of the total number number of crimes in each year with a barplot**

In [12]:
fig = px.bar(df1, x = df1.index,
             y = 'total_crimes', title = "Total Number Of Crimes In Each Year")
fig.show()

In [13]:
plt.figure(figsize=(15,8))
sns.barplot(data=df1,x = df1.index,y = 'total_crimes')

**Have a more simple look also about all the crimes**

In [14]:
from plotly.subplots import make_subplots

fig = make_subplots(rows = 4, cols = 2, shared_xaxes=True,
                    vertical_spacing=0.1,
                    subplot_titles=("Rape","Dowry Deaths",
                                    "Kidnapping and Abduction",
                                    "Assault on women to outrage",
                                    "Insult to modesty of Women",
                                    "Cruelty by Husband or his Relatives",
                                    "Importation of Girls", "total_crimes"))

fig.add_trace(go.Scatter(x = df1.index, y = df1['Rape']),row = 1, col = 1)
fig.add_trace(go.Scatter(x = df1.index, y = df1['Dowry Deaths']),row = 1, col = 2)
fig.add_trace(go.Scatter(x = df1.index, y = df1['Kidnapping and Abduction']),row = 2, col = 1)
fig.add_trace(go.Scatter(x = df1.index, y = df1['Assault on women with intent to outrage her modesty']),row = 2, col = 2)
fig.add_trace(go.Scatter(x = df1.index, y = df1['Insult to modesty of Women']),row = 3, col = 1)
fig.add_trace(go.Scatter(x = df1.index, y = df1['Cruelty by Husband or his Relatives']),row = 3, col = 2)
fig.add_trace(go.Scatter(x = df1.index, y = df1['Importation of Girls']),row= 4 , col = 1)
fig.add_trace(go.Scatter(x = df1.index, y = df1['total_crimes']),row = 4, col = 2)

fig.update_layout(height=700, showlegend=False)

fig.show()

In [31]:
fig,axes = plt.subplots(4,2,figsize=(100,100))
sns.barplot(ax=axes[0][0],x = df1.index, y = df1['Rape'])
sns.barplot(ax=axes[0][1],x = df1.index, y = df1['Dowry Deaths'])
sns.barplot(ax=axes[1][0],x = df1.index, y = df1['Kidnapping and Abduction'])
sns.barplot(ax=axes[1][1],x = df1.index, y = df1['Assault on women with intent to outrage her modesty'])
sns.barplot(ax=axes[2][0],x = df1.index, y = df1['Insult to modesty of Women'])
sns.barplot(ax=axes[2][1],x = df1.index, y = df1['Cruelty by Husband or his Relatives'])
sns.barplot(ax=axes[3][0],x = df1.index, y = df1['Importation of Girls'])
sns.barplot(ax=axes[3][1],x = df1.index, y = df1['total_crimes'])

**Comparing What Part Of Total Crimes are Rape.**

In [42]:
sns.lineplot(data=df1,x=df1.index,y=df1['Rape'])

sns.lineplot(data=df1,x=df1.index,y=df1['total_crimes'])

# **What are the most common crimes?**

In [44]:
 crimes1 = ['Rape',
 'Kidnapping and Abduction',
 'Dowry Deaths',
 'Assault on women with intent to outrage her modesty',
 'Insult to modesty of Women',
 'Cruelty by Husband or his Relatives',
 'Importation of Girls']

In [45]:
df_top_crimes=pd.DataFrame(columns=['crimes',"total"])
for i in crimes1:
    df_top_crimes=df_top_crimes.append({'crimes':i ,'total':df[i].sum(axis=0)},ignore_index=True)


fig = go.Figure(data=[go.Pie(labels=df_top_crimes['crimes'], values= df_top_crimes['total'], hole=.3)])
fig.update_layout(title_text = "Pie Chart of the crimes in India")
fig.show()

**There have been changes between 2001 and 2014? I hope that but let's have a look with 2 pie charts**

In [46]:
labels = ['Rape','Kidnapping and Abduction','Dowry Deaths','Assault on women with intent to outrage her modesty',
 'Insult to modesty of Women','Cruelty by Husband or his Relatives','Importation of Girls']

fig = make_subplots(1, 2, specs=[[{'type':'domain'}, {'type':'domain'}]],
                    subplot_titles=['2001', '2014'])
fig.add_trace(go.Pie(labels=labels, values=[32150, 29290, 13702, 68248, 19492, 98340, 228],
                     scalegroup='one', name="India crimes in 2001"), 1, 1)
fig.add_trace(go.Pie(labels=labels, values=[73470, 114622, 16910, 164470, 19470, 245754, 26],
                     scalegroup='one', name="India crimes in 2014"), 1, 2)

fig.update_layout(title_text='India crimes pie charts')
fig.show()

As we can see there haven't been many changes, there has only been a slight increase in dowry deaths, a sharp decrease in kidnapping and abudction and a decrease of the insults to modesty of Women.

# **What are the countries with more crimes?**

In [47]:
states=df['STATE/UT'].unique()

In [48]:
df_state=pd.DataFrame()
for i in crimes:
    df_state_crimes=df.groupby(['STATE/UT'])[i].sum()
    df_state[i]=df_state_crimes


fig = px.bar(df_state, x = df_state.index,
             y = 'total_crimes', title = "Total Number Of Crimes In Each Country")
fig.update_xaxes(categoryorder = 'total descending')
fig.show()

In [81]:
df_state=pd.DataFrame()
for i in crimes:
    df_state_crimes=df.groupby(['STATE/UT'])[i].sum()
    df_state[i]=df_state_crimes

plt.figure(figsize=(100,100))
df_new=df_state.sort_values(by=['total_crimes'])
sns.barplot(data = df_new,x = df_state.index,y = 'total_crimes')

In [62]:
df_state = df_state.sort_values(by = 'total_crimes', ascending = False)
most_criminal_states = df_state[:3]
most_criminal_states

As we can see the countries with more crimes in are **Uttar Pradesh**, **Andhra Pradesh**, **West Bengal**, **Rajasthan**, **Madhya Pradesh**.

In [64]:
least_criminal_states = df_state[-3:]
least_criminal_states

While the countries with least crimes are **Sikkim**, **Nagaland**, **D&nhaveli**, **Daman & Diu** and **Lakshadweep**

# **Sort Analysis of the 3 states with most crimes**

**Uttar Pradesh**

![](https://dz01iyojmxk8t.cloudfront.net/wp-content/uploads/2019/09/18165138/FB-uttar-pradesh.jpg)

In [65]:
df_up=df.loc[df['STATE/UT']=='uttarpradesh']

df_up1=pd.DataFrame()
for i in crimes:
    df_u=df_up.groupby(['Year'])[i].sum()
    df_up1[i]=df_u
df_up1

In [12]:
fig = make_subplots(rows = 4, cols = 2, shared_xaxes=True,
                    vertical_spacing=0.1,
                    subplot_titles=("Rape","Dowry Deaths",
                                    "Kidnapping and Abduction",
                                    "Assault on women to outrage",
                                    "Insult to modesty of Women",
                                    "Cruelty by Husband or his Relatives",
                                    "Importation of Girls", "total_crimes"))

fig.add_trace(go.Scatter(x = df_up1.index, y = df_up1['Rape']),row = 1, col = 1)
fig.add_trace(go.Scatter(x = df_up1.index, y = df_up1['Dowry Deaths']),row = 1, col = 2)
fig.add_trace(go.Scatter(x = df_up1.index, y = df_up1['Kidnapping and Abduction']),row = 2, col = 1)
fig.add_trace(go.Scatter(x = df_up1.index, y = df_up1['Assault on women with intent to outrage her modesty']),row = 2, col = 2)
fig.add_trace(go.Scatter(x = df_up1.index, y = df_up1['Insult to modesty of Women']),row = 3, col = 1)
fig.add_trace(go.Scatter(x = df_up1.index, y = df_up1['Cruelty by Husband or his Relatives']),row = 3, col = 2)
fig.add_trace(go.Scatter(x = df_up1.index, y = df_up1['Importation of Girls']),row= 4 , col = 1)
fig.add_trace(go.Scatter(x = df_up1.index, y = df_up1['total_crimes']),row = 4, col = 2)

fig.update_layout(height=700, showlegend=False)

fig.show()

NameError: name 'make_subplots' is not defined

**Andhra Pradesh**

![](https://static.investindia.gov.in/s3fs-public/styles/clusters_banner/public/2018-12/Industrial%20Corridors_Andhra%20Pradesh.jpg?itok=GV9bbAc8)

In [25]:
df_ap=df.loc[df['STATE/UT']=='andhrapradesh']
df_ap1=pd.DataFrame()
for i in crimes:
    df_a=df_ap.groupby(['Year'])[i].sum()
    df_ap1[i]=df_a
df_ap1

In [26]:
fig = make_subplots(rows = 4, cols = 2, shared_xaxes=True,
                    vertical_spacing=0.1,
                    subplot_titles=("Rape","Dowry Deaths",
                                    "Kidnapping and Abduction",
                                    "Assault on women to outrage",
                                    "Insult to modesty of Women",
                                    "Cruelty by Husband or his Relatives",
                                    "Importation of Girls", "total_crimes"))

fig.add_trace(go.Scatter(x = df_ap1.index, y = df_ap1['Rape']),row = 1, col = 1)
fig.add_trace(go.Scatter(x = df_ap1.index, y = df_ap1['Dowry Deaths']),row = 1, col = 2)
fig.add_trace(go.Scatter(x = df_ap1.index, y = df_ap1['Kidnapping and Abduction']),row = 2, col = 1)
fig.add_trace(go.Scatter(x = df_ap1.index, y = df_ap1['Assault on women with intent to outrage her modesty']),row = 2, col = 2)
fig.add_trace(go.Scatter(x = df_ap1.index, y = df_ap1['Insult to modesty of Women']),row = 3, col = 1)
fig.add_trace(go.Scatter(x = df_ap1.index, y = df_ap1['Cruelty by Husband or his Relatives']),row = 3, col = 2)
fig.add_trace(go.Scatter(x = df_ap1.index, y = df_ap1['Importation of Girls']),row= 4 , col = 1)
fig.add_trace(go.Scatter(x = df_ap1.index, y = df_ap1['total_crimes']),row = 4, col = 2)

fig.update_layout(height=700, showlegend=False)

fig.show()

In [69]:
fig,axes = plt.subplots(4,2,figsize=(20,20))
sns.barplot(ax=axes[0][0],x = df_ap1.index, y = df_ap1['Rape'])
sns.barplot(ax=axes[0][1],x = df_ap1.index, y = df_ap1['Dowry Deaths'])
sns.barplot(ax=axes[1][0],x = df_ap1.index, y = df_ap1['Kidnapping and Abduction'])
sns.barplot(ax=axes[1][1],x = df_ap1.index, y = df_ap1['Assault on women with intent to outrage her modesty'])
sns.barplot(ax=axes[2][0],x = df_ap1.index, y = df_ap1['Insult to modesty of Women'])
sns.barplot(ax=axes[2][1],x = df_ap1.index, y = df_ap1['Cruelty by Husband or his Relatives'])
sns.barplot(ax=axes[3][0],x = df_ap1.index, y = df_ap1['Importation of Girls'])
sns.barplot(ax=axes[3][1],x = df_ap1.index, y = df_ap1['total_crimes'])

**West Bengal**

![](https://th.bing.com/th/id/R0f210f33da156a2e1de7ad9d0949311b?rik=o9cFpTWvc8Ss%2fQ&riu=http%3a%2f%2fimages.indianexpress.com%2f2016%2f06%2fwest-bengal-7591.jpg&ehk=XuEsEPX9PjUhFg53g%2fnpeV%2bxOdPUnypgBCCCCJANBEc%3d&risl=&pid=ImgRaw)

In [70]:
df_wb=df.loc[df['STATE/UT']=='westbengal']
df_wb1=pd.DataFrame()
for i in crimes:
    df_w=df_wb.groupby(['Year'])[i].sum()
    df_wb1[i]=df_w
df_wb1

In [71]:
fig = make_subplots(rows = 4, cols = 2, shared_xaxes=True,
                    vertical_spacing=0.1,
                    subplot_titles=("Rape","Dowry Deaths",
                                    "Kidnapping and Abduction",
                                    "Assault on women to outrage",
                                    "Insult to modesty of Women",
                                    "Cruelty by Husband or his Relatives",
                                    "Importation of Girls", "total_crimes"))

fig.add_trace(go.Scatter(x = df_wb1.index, y = df_wb1['Rape']),row = 1, col = 1)
fig.add_trace(go.Scatter(x = df_wb1.index, y = df_wb1['Dowry Deaths']),row = 1, col = 2)
fig.add_trace(go.Scatter(x = df_wb1.index, y = df_wb1['Kidnapping and Abduction']),row = 2, col = 1)
fig.add_trace(go.Scatter(x = df_wb1.index, y = df_wb1['Assault on women with intent to outrage her modesty']),row = 2, col = 2)
fig.add_trace(go.Scatter(x = df_wb1.index, y = df_wb1['Insult to modesty of Women']),row = 3, col = 1)
fig.add_trace(go.Scatter(x = df_wb1.index, y = df_wb1['Cruelty by Husband or his Relatives']),row = 3, col = 2)
fig.add_trace(go.Scatter(x = df_wb1.index, y = df_wb1['Importation of Girls']),row= 4 , col = 1)
fig.add_trace(go.Scatter(x = df_wb1.index, y = df_wb1['total_crimes']),row = 4, col = 2)

fig.update_layout(height=700, showlegend=False)

fig.show()

**I hope that these numbers will drop drastically in the coming years because in the modern era it makes no sense, in my opinion, to carry on the stereotype of women inferior to men and consequently all these crimes.**

**Thank you so much for looking at this notebook, I hope you enjoyed it and if so I would invite you to put an upvote. If you have found any errors, please write them to me in the comments or even if you have any suggestions for improving the notebook. thank you very much again and good Kaggling!**